/* From Uiverse.io by xueyuantan */ 
button {
 width: 9em;
 height: 3em;
 border-radius: 30em;
 font-size: 10px;
 font-family: inherit;
 border: none;
 position: relative;
 overflow: hidden;
 z-index: 1;
 box-shadow: 2px 06px 20px 5px rgb(0, 0, 0);
 color: #ffffff;
 background-color: #0043c0;
}

button::before {
 content: '';
 width: 0;
 height: 3em;
 border-radius: 30em;
 position: absolute;
 top: 0;
 left: 0;
 background-image: linear-gradient(to right, #072ba1 0%, #040e20 100%);
 transition: .5s ease;
 display: block;
 z-index: -1;
 color: #860000;
}

button:hover::before {
 width: 9em;
 color: #c5c5c5;
}